#map {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    grid-area: sidebar;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

body {
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(120deg, rgba(2, 0, 36, 1) 0%, rgba(35, 77, 199, 1) 39%, rgba(33, 72, 191, 1) 51%, rgba(2, 2, 82, 1) 100%);
    font-family: Roboto, "Helvetica Neue", sans-serif;

    display: grid;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    grid-area: footer;
    height: 100%;
    padding: 2px;
    color: white;
    background-color: rgba(156, 154, 154, 0.767);
}

header {
    grid-area: header;
    height: 100% !important;
    padding: 2vh;
    background-color: #020024;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-area: header;
}

main {
    grid-area: main;
    padding: 2vh 2vw 2vh 2vw;
}

.article-content {
    text-align: justify;
    margin-top: 3%;
}

.btn-contact {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: whitesmoke;
    font-weight: bold;
}

.btn-menu {
    width: 15vw;
    margin-bottom: 3%;
    cursor: not-allowed !important;
}

.header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
}