.slider {
    width: 100%;
    height: 30vh;
    background-color: rgb(40, 122, 122);
}

.rightArrow {
    position: absolute;
    top: 22.7vh;
    transform: translate(0, -50%);
    right: 20vw;
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.leftArrow {
    position: absolute;
    top: 22vh;
    transform: translate(0, -50%);
    left: 3vw;
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
}